$bg-color: #282828;
$primary-color: #83a598;
$secondary-color: #98971a;
$accent-color: #d79921;
$text-color: #fbf1c7;

$spacing-factor: 2px;
$space1: $spacing-factor;
$space2: calc(#{$spacing-factor} * 4);
$space3: calc(#{$spacing-factor} * 8);
$space4: calc(#{$spacing-factor} * 12);
$space4: calc(#{$spacing-factor} * 16);
$space4: calc(#{$spacing-factor} * 24);
$space4: calc(#{$spacing-factor} * 32);
$space4: calc(#{$spacing-factor} * 48);
