.section-header {
  @extend .mb-4;
  @extend .text-lighter;
  @extend .fontsize-5;
}

.section-paragraph {
  @extend .pb-2;
  @extend .text-lighter;
  @extend .fontsize-3;
}

.content-container {
  display: flex;
  justify-content: space-between;
}

.section-image {
  max-width: calc(#{$content-width} / 2);
  max-height: 480px;
  border-radius: 2px;
}
