body {
  background-color: $bg-color;
  color: $text-color;
  font-family: 'Fira Mono', monospace;
  font-size: 14px;
}

header {
  .container {
    max-width: $content-width;
    margin: 0 auto;
  }
}

main {
  max-width: $content-width;
  margin: 0 auto;
}

p {
  margin: 0;
}

section {
  @extend .pt-4;
  @extend .pb-4;
}

.heading {
  color: $primary-color;
}

.link {
  color: $accent-color;
  text-decoration: none;
}
