body {
  background-color: $bg-color;
  color: $text-color;
  font-size: 14px;
}

main {
  max-width: 900px;
  margin: 0 auto;
}

.heading {
  color: $primary-color;
}

.link {
  color: $accent-color;
  text-decoration: none;
}
