html {
  width: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: $bg-color;
  color: $text-color;
  font-family: 'Fira Mono', monospace;
  
  font-size: 14px;
}


h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

header {
  .container {
    width: 85%;
    margin: 0 auto;
    padding: 20px 0;

    @media (min-width: $breakpoint2) {
      padding: 40px 0; 
    }

    @media (min-width: $breakpoint3) {
      max-width: $content-width;
      width: 100%;
      padding: 60px 0;
    }
  }

  h1 {
    font-size: $space5;
    @extend .mt-5;
    @extend .mb-5;

    @media (min-width: $breakpoint3) {
      font-size: $space6;
    }
  }

  p {
    font-size: $space3;

    @media (min-width: $breakpoint2) {
      font-size: $space4;
    }
  }
}

main {
  max-width: $content-width;
  width: 85%;
  margin: 0 auto;

  @media (min-width: $breakpoint3) {
    max-width: $content-width;
    width: 100%;
  }
}

section {
  margin-top: $space7;
  margin-bottom: $space7;
}

.heading {
  color: $primary-color;
}

.link, .link:visited, .link:active {
  color: $accent-color;
  text-decoration: none;
  transition: color 0.3s ease-in;

  &:hover {
    color: $accent-hover-color;
  }
}

footer {
  padding: $space6 $space4 $space2;
  text-align: right;
}
